{% extends "base.html" %}

{% block title %}pick what you like{% endblock title%}


{% block contentcontainer %}

	<!--div class="row">
		<div class="span12">
			<div class="alert fade in">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p>This is a <strong>prototype</strong> version of a very simple tool I am trying to build so I can easily...</p>
				<ul>
					<li>see who is playing at a festival</li>
					<li>pre-listen to some of their tracks if I don't know the act</li>
					<li>mark them as "really want to see", "yeah, why not?" and "this causes pain in my ears.."</li>
				</ul>
				<p>In the long run, I also would like to</p>
				<ul>
					<li>create a personal running order from it</li>
					<li>that can be auto-updated if the festival crew posts shifts in the overall running order</li>
					<li>and informs me about potential overlapping conflicts where I can decide what to prioritize</li>
					<li>oh and I'd love to match my running order with that of friends!</li>
				</ul>
				<p>This really early test version only works for the Fusion 2013 festival with minimum features.</p>
			</div>
			
		</div>
	</div-->
	<div class="row"><div class="span12">
		<h1>Available festivals</h1>
		<!--a href="acts/">List from Database<br/-->
		<p><a href="fusion/">Fusion 2013</a> as crawled from website</p>
	</div></div>
{% endblock contentcontainer%}